<!-- ================ start banner area ================= -->	
<section class="blog-banner-area mt-4" id="category">
  <div class="container h-100">
	<div class="blog-banner">
	  <div class="text-center">
		<h1>Inscris-toi !</h1>
	  </div>
    </div>
  </div>
</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
<section class="login_box_area section-margin">
  <div class="container mb-5 mt-3">
	<div class="row">
	  <div class="col-lg-6">
		<div class="login_box_img">
		  <div class="hover">
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Crée un compte</h3>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'row login_form', id:"register_form") do |f| %>
           <%= render "devise/shared/error_messages", resource: resource %>	

           		<div class="col-md-12 form-group">
              <%= f.label :name, "Blazz" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder:"Ton Blazz", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'Blazz'" %>		
               </div>

							<div class="col-md-12 form-group">
              <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email Address", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'Email Address'" %>		
              </div>

              <div class="col-md-12 form-group">

              <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control",placeholder:"Password", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'Password'" %>
              </div>
              <div class="col-md-12 form-group">
              <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirm Password", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'Confirm Password'" %>
			  </div>
					<div class="col-md-12 form-group">
						<div class="creat_account">
						  </div>
            </div>
              <!--<em> By clicking on Sign up, you accept our <a href="">Terms and Conditions</a>.</em>-->
             <br>
							<div class="col-md-12 form-group action">
             <%= f.submit "Sign up" , class:"button button-register w-100" %> 
              
							</div>
					<% end %>
      <%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
