
<section class="login_box_area section-margin">
  <div class="container">
	<div class="row">
	  <div class="col-lg-6">
		<div class="login_box_img">
		  <div class="hover">
				<h4>Not now?</h4>
				<%= link_to('Home', root_path, class: "button button-account") %>
		  </div>
		</div>
	  </div>
	  <div class="col-lg-6">
		<div class="login_form_inner register_form_inner">
		  <h3>Access to your account</h3>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), class: 'row login_form', id:"login_form", html: { method: :put }) do |f| %>
             <%= render "devise/shared/error_messages", resource: resource %>	
          	<%= f.hidden_field :reset_password_token %>
	  <div class="col-md-12 form-group">
       <%= f.label :password, "New password" %><br />
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em><br />
      <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder:"New Password", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'New Password'"%>		
      </div>

      <div class="col-md-12 form-group">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"Confirm Password", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'Password Confirmation'" %>
      </div>


	  <div class="col-md-12 form-group action">
            <%= f.submit "Change my password" , class:"button button-login w-100" %>
	  </div>
	  <% end %>
      <%= render "devise/shared/links" %>
	    </div>
	  </div>
	</div>
  </div>
</section>
	<!--================End Login Box Area =================-->