	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>You remember?</h4>
              	<%= link_to('Log In Now', new_user_session_path, class: "button button-account") %>
						</div>
					</div>
				</div>
		<div class="col-lg-6">
		<div class="login_form_inner register_form_inner">
        	<h2>Forgot your password?</h2>
            	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'row login_form', id:"login_form") do |f| %>
                	<%= render "devise/shared/error_messages", resource: resource %>				
		          		<div class="col-md-12 form-group">
                    		<%= f.label :email, "Email" %><br />
                    		<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email Address", onfocus:"this.placeholder = ''", onblur:"this.placeholder = 'Email Address'" %>		
                  		</div>
                  		<div class="col-md-12 form-group action">
                    		<%= f.submit "Send me reset password instructions"  , class:"button button-login w-100" %>
		              	</div>
                </div>
             </div>
        		<% end %>
          </div>
				</div>
			</div>
		</div>
	</section>
