<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://kit.fontawesome.com/0f6d2693a2.js" crossorigin="anonymous"></script>
<body>
        <div id="header" class="text-center text-white">
            <h1 style="font-size:1000%;">Mange tes mots</h1>
            <h3 style="font-size:300%;">Premier site de punchlines de qualites</h3>

            <% if punchliner_signed_in? %>
             <button type="button" class="btn btn-primary" id="edit" data-toggle="modal" data-target="#exampleModalCenter"> Editer sa punchline </button>
            <% end %>
            <div class="modal fade text-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Préparez-vous au combat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <%= form_tag url_for(action:'create'), method: "post" do %>
              
                    <%= label_tag 'text' %><br>
                    <%= text_area_tag 'content' %>
                    <br /> <br />
                    <div class="text-center">
                        <%= submit_tag("Que le combat commence !", class: "btn btn-primary btn-lg") %>
                    </div>
              
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container-fluide mb-5">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <button class="nav-link btn list-button mr-2" type="button" href="<%= punchliners_index_path %>"> Par Auteur </button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link btn list-button mr-2" type="button"  href="#">Par Theme</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link btn list-button mr-2" type="button" href="#">Aleatoire</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link btn list-button" type="button" href="#">+Recent</button>
                  </li>
                </ul>
                  <div class="container">        
                  <div class="column d-flex flex-column">
                  <div class="container mt-5">        
                    <div class="column d-flex flex-column">
                    <% @punchlines.each_with_index do |one_punch, k| %>
                      <% if k%2 == 0 %>  
                      <div class="col-lg-8 mt-4" data-aos="fade-right">
                      <%end%>
                      <% if k%2 != 0 %> 
                      <div class="col-lg-8 mt-4 align-self-end" data-aos="fade-left">
                      <% end %>
                        <div class="bs-component">
                        
                          <div class="card card-home">
                      
                           <div class="card-body">
                              <div class="d-flex justify-content-between">
                                <div class="col-8">
                                  <i class="fas fa-quote-right"></i>
                                  <h5 class="card-text text-white  text-left"><%= one_punch.content %></h5>
                                </div>

                                <% if rate(one_punch) == "low" %>
                               <div class="col-2 avatar-green">
                                <% end %>
                                <% if rate(one_punch) == "high" %>
                                <div class="col-2 avatar-yellow">
                                <% end %>
                                <% if rate(one_punch) == "double" %>
                                 <div class="col-2 avatar-red">
                                <% end %>
                                <% if rate(one_punch) == "no-like" %>
                                  <div class="col-2 avatar-white">
                                <% end %>
                                   <%= image_tag('Smyhavy.png', draggable: "true", id: "logo") %> 
                                  </div>
                              </div>
                                <a class="btn bouton-cart mt-3" <%= link_to one_punch.punchliner.name, punchliners_id_path(one_punch.punchliner.id)%></a>
                              <div class="d-flex justify-content-between mt-3">

                                <div class="col-lg-3 text-right">

                                  <% if current_striker != nil %>
                                      <a class="mr-1"><i class="fas fa-hand-middle-finger"></i><%= link_to 'LF', punchlines_likes_path(@punchline), method: :post, remote: true %></a>
                                      <a class="mr-1"><i class="far fa-hand-paper"></i><%= link_to 'HF', punchlines_likes_path(@punchline), method: :post, remote: true %></a>
                                      <a class="mr-1"><i class="far fa-hand-rock"></i><%= link_to 'DHF', punchlines_likes_path(@punchline), method: :post, remote: true %></a> 
                                  <% end %>
                                </div>                         
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                         <% end %>
                                                    
                  </div>
                   </div>                        
               </div>
             </div>
           </div>
         </div>
        </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>