<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://kit.fontawesome.com/0f6d2693a2.js" crossorigin="anonymous"></script>
<body>
        <div id="header" class="text-center text-white">
            <h1>Punchliner</h1>
            <h3>Ici, exceptionnellement...plus c'est court, mieux c'est !</h3>


             <button type="button" class="btn btn-primary" id="edit" data-toggle="modal" data-target="#exampleModalCenter">   Editer sa punchline    </button>
            
            <div class="modal fade text-dark" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Préparez-vous au combat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                  <%= form_tag url_for(action:'create'), method: "post" do %>
              
                    <%= label_tag 'Content' %><br>
                    <%= text_area_tag 'content' %>
                    <br /> <br />
              
                    <div class="text-center">
                        <%= submit_tag("Que le combat commence !", class: "btn btn-primary btn-lg") %>
                    </div>
              
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container-fluide mb-5">
                <h1 class="text-center mt-3 text-white">Le Ring</h1>


                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link active btn btn-secondary mr-2" type="button" href="<%= punchliners_index_path %>">Par Auteur</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-secondary mr-2" type="button"  href="<%= hashtags_index_path %>">par Thème</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-secondary mr-2" type="button" href="#">Aléatoire</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-secondary" type="button" href="#">+Récent</a>
                  </li>
                </ul>
                  <div class="container">        
                  <div class="column d-flex flex-column">
                    <% @punchlines.each_with_index do |one_punch, k| %>
                      <% if k%2 == 0 %>  
                      <div class="col-lg-8 mt-4" data-aos="fade-right">
                      <%end%>
                      <% if k%2 != 0 %> 
                      <div class="col-lg-8 mt-4 align-self-end" data-aos="fade-left">
                      <% end %>
                        <div class="bs-component">
                        
                          <div class="card">
                      
                           <div class="card-body">
                              <div class="d-flex justify-content-between">
                                <div class="col-8">
                                  <i class="fas fa-quote-right"></i>
                                  <h5 class="card-text text-white"><%= one_punch.content %></h5>
                                </div>

                                <% if rate(one_punch) == "low" %>
                               <div class="col-2 avatar-green">
                                <% end %>
                                <% if rate(one_punch) == "high" %>
                                <div class="col-2 avatar-yellow">
                                <% end %>
                                <% if rate(one_punch) == "double" %>
                                 <div class="col-2 avatar-red">
                                <% end %>
                                <% if rate(one_punch) == "no-like" %>
                                  <div class="col-2 avatar">
                                <% end %>
                                   <%= image_tag('Smyhavy.png', draggable: "true", id: "logo") %> 
                                  </div>
                              </div>
                              <a class="btn btn-info mt-3" <%= link_to one_punch.punchliner.name, punchliners_id_path(one_punch.punchliner.id)%> ></a>
                              <div class="d-flex justify-content-between mt-3">
                            <div class="col-lg-3 d-flex pl-0">
                                    <a class="mr-1">#bla</a>
                                    <a class="mr-1">#bla</a>
                                    <a class="mr-1">#bla</a>
                                </div>
                                <div class="col-lg-3 text-right">
                                    <a class="mr-1"><i class="fas fa-hand-middle-finger"></i><%= button_to 'Like', punchlines_likes_path(@post), method: :post %></a>
                                    <a class="mr-1"><i class="far fa-hand-paper"></i><%= button_to 'Like', punchlines_likes_path(@post), method: :post %></a>
                                    <a class="mr-1"><i class="far fa-hand-rock"></i><%= button_to 'Like', punchlines_likes_path(@post), method: :post %></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      <% end %>                                  
                  </div>
        </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>