<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://kit.fontawesome.com/0f6d2693a2.js" crossorigin="anonymous"></script>


<div class="card  profil mb-3" style="max-width: 840px;">
<div class="row no-gutters">
    <div class="col-md-4">
    <img src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light'
/>    
    </div>
    <div class="col-md-8">
    <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title"><%= @punchliner.name %></h5>
        <p class="card-text"><%= @punchliner.description %></p>
        <p class="card-text">Contact: <%= @punchliner.email %></p>
    </div>
    </div>
</div>
</div>
<div class="container-fluide mb-5">
                <h1 class="text-center mt-3 text-white">Les Punchlines de <%= @punchliner.name %></h1>   
                  <div class="container">        
                    <div class="column d-flex flex-column">
                    <% @punchlines.each_with_index do |one_punch, k| %>
                      <% if k%2 == 0 %>  
                      <div class="col-lg-8 mt-4" data-aos="fade-right">
                      <%end%>
                      <% if k%2 != 0 %> 
                      <div class="col-lg-8 mt-4 align-self-end" data-aos="fade-left">
                      <% end %>
                        <div class="bs-component">
                          <div class="card card-profil">
                        
                            <div class="card-body">
                              <i class="fas fa-quote-right"></i>

                              <% if rate(one_punch) == "low" %>
                                <i class="fas fa-hand-middle-finger rate"></i>
                              <% end %>
                              <% if rate(one_punch) == "high" %>
                                <i class="far fa-hand-paper rate"></i>
                              <% end %>
                              <% if rate(one_punch) == "double" %>
                                <i class="far fa-hand-rock rate"></i>
                              <% end %>
                              
                              <h5 class="card-text"><%= one_punch.content %></h5>
                              
                              <div class="d-flex justify-content-between mt-3">

                                <div class="col-lg-3 text-right">
                                  <% if current_striker != nil %>
                                      <a class="mr-1 text-dark"><i class="fas fa-hand-middle-finger" onclick="alert('Low Five..."></i><%= link_to '', punchlines_likes_path(@one_punch), method: :post, remote: true %></a>
                                      <a class="mr-1 text-dark"><i class="far fa-hand-paper"  onclick="alert('High Five..."></i><%= link_to '', punchlines_likes_path(@one_punch), method: :post, remote: true %></a>
                                      <a class="mr-1 text-dark"><i class="far fa-hand-rock"  onclick="alert('DubL High Five..."></i><%= link_to '', punchlines_likes_path(@one_punch), method: :post, remote: true %></a> 
                                  <% end %>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% end %>                                  
                    </div>
                  </div>
        </div>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>