<nav class="navbar fixed-top navbar-expand-md transparent">
  <div id="logo-accueil"><a href="<%= root_path %>"><%= image_tag("logo.svg") %></a></div> 
  <% if current_punchliner == nil && current_striker == nil && current_hunter == nil%>
  <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <button class=" btn text-white connect-button">Se connecter</button>    
          </a>
      <div class="dropdown-menu" x-placement="bottom-start">
          <a class="dropdown-item" href="<%= new_punchliner_registration_path %>">Se connecter en tant que Punchliner</a>
          <a class="dropdown-item" href="<%= new_hunter_registration_path %>">Se connecter en tant que Hunter</a>
          <a class="dropdown-item" href="<%= new_striker_registration_path %>">Se connecter en tant que Striker</a>
      </div>
  </div>

<% end %>
  <% if punchliner_signed_in? %>

    <div class="nav-item dropdown">

       <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
       <button type="button" class="btn button-account">Mon Compte</button>
       </a>

       <div class="dropdown-menu" x-placement="bottom-start">
         <a class="dropdown-item" href="<%= edit_punchliner_registration_path %>">Profil</a>
         <a class="dropdown-item" <%= link_to('Deconnexion', destroy_punchliner_session_path, method: :delete) %>></a>     
       </div>

    </div>


  <% elsif striker_signed_in? %>

    <div class="nav-item dropdown">
 
       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
       <button type="button" class="btn btn-primary">Mon Compte</button>
       </a>
     
       <div class="dropdown-menu" x-placement="bottom-start">
          <a class="dropdown-item" href="<%= edit_striker_registration_path %>">Profil</a>
          <a class="dropdown-item" <%= link_to('Deconnexion', destroy_striker_session_path, method: :delete) %>> </a>     
      </div>
    </div>

  <% elsif hunter_signed_in? %>

   <div class="nav-item dropdown">

       <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">
       <button type="button" class="btn btn-primary">Mon Compte</button>
       </a>

      <div class="dropdown-menu" x-placement="bottom-start"> 
        <a class="dropdown-item" href="<%= edit_hunter_registration_path %>">Profil</a>
        <a class="dropdown-item" <%= link_to('Deconnexion', destroy_hunter_session_path, method: :delete) %>> </a>    
      </div>
   </div>
<!-- </nav> -->

  <% else %>

<!-- <nav  class="navbar navbar-expand-md transparent"> -->
  <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
       <div class="modal-content">

        <!--Modal cascading tabs-->
          <div class="modal-c-tabs">

          <!-- Nav tabs -->
             <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
               <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>Login</a>
               </li>
               
               <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>Register</a>
               </li>
             </ul>
          </div>
       </div>
    </div>
  </div>

<% end %>

</nav>

        <!-- Tab panels 
        <div class="tab-content">
          --Panel 7
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

            Body
            <div class="modal-body mb-1">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput10" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput10">Your email</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput11" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput11">Your password</label>
              </div>
              <div class="text-center mt-2">
                <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
              </div>
            </div>
            Footer
            <div class="modal-footer">
              <div class="options text-center text-md-right mt-1">
                <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                <p>Forgot <a href="#" class="blue-text">Password?</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          /.Panel 7

          Panel 8
          <div class="tab-pane fade" id="panel8" role="tabpanel">

            Body
            <div class="modal-body">
              <div class="md-form form-sm mb-5">
                <i class="fas fa-envelope prefix"></i>
                <input type="email" id="modalLRInput12" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput12">Your email</label>
              </div>

              <div class="md-form form-sm mb-5">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput13" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput13">Your password</label>
              </div>

              <div class="md-form form-sm mb-4">
                <i class="fas fa-lock prefix"></i>
                <input type="password" id="modalLRInput14" class="form-control form-control-sm validate">
                <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat password</label>
              </div>

              <div class="text-center form-sm mt-2">
                <button class="btn btn-info">Sign up <i class="fas fa-sign-in ml-1"></i></button>
              </div>

            </div>
            Footer
            <div class="modal-footer">
              <div class="options text-right">
                <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p>
              </div>
              <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          /.Panel 8
        </div>

      </div>
    </div>
    /.Content-
  </div>
</div> -->
